/* GENERALES */

html {
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu main main"
    "footer footer footer";
}

p {
  font-size: large;
}

a {
  color: white;
  font-size: large;
  margin: 0.5em;
  text-decoration: none;
}

a:hover {
  color: #583c60;
}

header i,
footer i {
  color: #ff8525;
  padding-left: 0.5em;
}

/* HEADER */

header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-image: url("../imgs/header.png");
  background-position: center;
  background-size: cover;
  border: solid black 1px;
  font-family: "Nabla", cursive;
  padding-left: 2em;
}

/* MENU */

menu {
  grid-area: menu;
  background-image: linear-gradient(to top, #583c60 0%, #14254b 100%);
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

.menu-box h2 {
  font-size: xx-large;
}

/* MAIN - CARTA DE PRODUCTOS */

main {
  grid-area: main;
  background-image: linear-gradient(120deg, #14254b 0%, #fb4657 100%);
  border-right: solid black 1px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.card-box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px black;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.card-box img {
  border-bottom: solid 1px black;
  width: 330px;
}

/* BOTONES */

button {
  background-color: #14254b;
  color: white;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 0;
  width: 100%;
}

button:hover {
  opacity: 50%;
}

button:focus {
  color: #ff8525;
}

/* FOOTER */

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  background-image: url(../imgs/header.png);
  background-size: cover;
  background-position: bottom;
  font-family: "Nabla", cursive;
  font-size: x-large;
  text-align: center;
  border: solid black 1px;
}
